<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <title>
        <%= general.title %>
    </title>
<!-- include libraries(jQuery, bootstrap) -->
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- include summernote css/js-->
<link href="/summernote/summernote-bs4.css" rel="stylesheet">
<script src="/summernote/summernote-bs4.js"></script>
</head>


<body id="body">
        <%- include('../template/header', {title: general.title, description: general.description, logo: general.logo })
            %>
                <main>
                        <%- include('../template/admNav') %>
                            <form action="/admin/posts/new/" method="post">
                            <h3>Nuovo Post</h3>
                             <input type="text" name="title" id="title" value="Titolo">
                             <textarea id="summernote" name="body"></textarea>
                            <input type="submit" value="Salva">
                            
                      
                        </form>
                        
                        
                    </main>
                <%- include('../template/footer') %>
</body>

</html>
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
      });


      
    </script>