*{
    margin: 0px;
}

a{
    color: blue;
    text-decoration:solid;
    font-weight: 600;
}

.title{
font-size: 35px;
padding-left: 20px;
}

.description{
    font-size: 20px;
    padding-left: 20px;
    }
 
    html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    body{
        flex-basis: 80%;
        height: 100%;
        display: flex!important;
        flex-direction: column!important;
        justify-content: center !important;
        background-image: linear-gradient(to right, rgb(89, 0, 255) , rgb(0, 153, 255));
        font-family: "Segoe UI",Arial,sans-serif;
    }
/*body{
  
  display: flex !important; 
  align-items: stretch !important;
  flex-direction: column !important;
  justify-content: center !important;
 } 


body{
    margin: auto;
   
    color: black;
    font-family: "Segoe UI",Arial,sans-serif;
    /*max-width: 1120px;
    
}
*/


header{
    display:flex;
    color: white;
}

#info{
    margin: auto auto auto 10px
}

/* Navbar */

nav{
    background-color: rgb(255, 153, 0);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    color: white;
    text-decoration:solid;
    font-weight: 600;
}
nav ul li{
    display: flex;
    align-items: center;
    text-align: center;
}
#nav-menù{
    
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#nav-menù img{
 height: 30px;
 width: 30px;
}

#nav-categories ul{
    display: none;
    margin-top: 80px;
}

#nav-categories ul li a{
    color: white;
}
#nav-categories:hover > ul{
    display: block;
    position: fixed;
    background-color: rgb(255, 153, 0);
    list-style: none;
    width: 150px;
}


/*Main*/
 main  {
    flex-basis: 80%;
    background-color: rgba(255, 255, 255, 0.9); 
    margin-top: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    display: flex !important; 
    align-content: stretch !important;
    flex-direction: column !important;
    
 } 

main ul li{
list-style: none;
}
/*main{
    margin-top: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    flex-basis: 100%;
   background-color: rgba(255, 255, 255, 0.9); 
   padding-bottom: 25px;
    
}*/

/*aside{
    margin: 10px auto auto 20px;
flex-basis: 20%;
}
*/
@media screen and (max-width: 768px) {
  /*  aside{
        display: none;
        }
*/

        main{
        flex-basis: 100%;
        }
  }

.post{
    margin: 10px 10px auto 10px
}
div[class*="post"]{
    margin: 7px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
 }
 .pagination span{
     margin: 0px 5px 0px 5px;
 }
 .pagination li{
     display: inline;

 }
div[id*="best"]{
    background-color: rgba(255, 255, 255, 0.9); 
    margin: 5px 5px 15px 0px;

}


#newpost{

    height: 50px;
    width: 40px;
}

.admNav{
    display: flex;
    justify-content: center;
    padding: 5px;

}
.admNav li{
    padding-right: 15px;
}

.posts_list{
display: flex;
flex-direction: column;
padding-left: 20px;
}

.posts_admin_menù{
    display: flex;
    justify-content: space-between
    
}
.admPostTitle{
flex-basis: 40%;
}
.admPostDate{
    flex-basis: 20%;
}
.admPostCategory{
    flex-basis: 20%;
}

.admPostedit{
    flex-basis: 10%;
}
.admPostDelete{
    flex-basis: 10%;
}
.logout a{
color: red;
}


#adminUsers{
    display: flex;
    flex-direction: row;
}
#adminUsers form{
    flex-basis: 20%;
    margin: 20px;
}

#userList{
flex-basis: 80%;
display: flex;
flex-direction: column;
}

.useritem{
flex-basis: 30%;
display: flex;
justify-content: space-around ;
}

#setting-warp{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#setting-warp form{
    display: flex;
    flex-direction: column;
}
#setting-warp form *{
    margin-top: 4%;
}
#setting-warp form ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imgsmall{
    height: 30px;
    width: 30px;
}


footer{
    height: 10%;
}