<ul class="admNav">
<li><a href="/admin/posts/new"><img id = "newpost" src="/images/new_post.png" alt="nuovo post"></a></li>
<li> <a href="/admin/posts">POSTS</a></li>
<li> <a href="/admin/users">USERS</a></li>
<li> <a href="/admin/settings">SETTINGS</a></li>
<li class="logout"><a href="/logout">Logout</a></li></li>
</ul>