<header>
    <img src="/images/logo.png" alt="title" height="150px" width="400px"  id="<%= title %>">
    <div id="info">
        <div class="title" ><%= title %></div>
        <div class="description"><%= description %></div>
    </div>
</header>

