<nav>
    <ul id="nav-menù">
        <li><a href="/"><img src="/images/home.png" alt="" id="img-home"></a>
        </li>
        
        <li id="nav-categories">
            Categorie
            <ul>
              <% categories.forEach(function(cat) { %>
                <li><a href="/category/<%= cat %>"></a><%= cat %></li>
            <% }); %>
            </ul>
        </li>
        <li> <a href="https://www.linkedin.com/in/gabriele-masola" target="_blank"><img src="/images/linkedin.png"></a></li>
    </ul>
</nav>